asgiref==3.8.1
attrs==25.3.0
autopep8==2.3.2
bleach==6.2.0
coverage==7.8.2
Django==5.1.7
django-cors-headers==4.7.0
django-silk==5.3.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
gprof2dot==2025.4.14
inflection==0.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pillow==11.1.0
psycopg2-binary==2.9.10
pycodestyle==2.13.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.25.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
webencodings==0.5.1
